body {
    margin: 0;
    padding: 0;
    font-size: 0.813em;
    font-family: 'Noto Sans KR', 'AppleSDGothicNeo-Regular', 'Malgun Gothic', '맑은 고딕', 'dotum', '돋움', sans-serif;
    letter-spacing: -1px;
    color: #1F262D;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#header img {
    display: block;
    position: absolute;
    top: 5%;
    left: 8%;
    transform: translate(0, -50%);
}

.menu {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 46vw;
    height: 80px;
    top: 0;
    left: 75%;
    transform: translate(-50%, 0);
}

.menu a {
    font-size: 30px;
    font-weight: bold;
    text-decoration-line: none;
    color: white;
    text-align: center;
    margin-top: 32px;
}

.main_text01 {
    display: block;
    position: relative;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 100px 0 0 0;
    font-size: xx-large;
}

#innovation_text {
    font-size: large;
    font-weight: bold;
    margin: 0 0 50px 0;
}

.main_text01 p {
    text-align: center;
    margin: 50px 0 100px 0;
    font-size: large;
}

.Professional {
    display: block;
    margin: 200px 0 0 0;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
}

.cube {
    width: 16px;
    height: 15.5px;
}


.process {
    position: relative;
    margin: 0;
    padding: 0 10% 0 10%;
}

.process p {
    font-size: small;
    margin: 15px auto 15px 15px;
}

/* 테이블 값 시작 */

table.type07 {
    border-collapse: collapse;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    top: 120px;
    width: 80%;
}

table.type07 thead {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #8133C0;
}

table.type07 thead #TL {
    padding: 1px 0;
    font-weight: bold;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    letter-spacing: -0.1em;
}

table.type07 thead th {
    padding: 10px 0;
    font-weight: bold;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    letter-spacing: -0.1em;
}


table.type07 td {
    width: auto;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

table.type07 td #Left_Text {
    text-align: left;
}

/* 테이블 값 끝 */


.host {
    position: relative;
    overflow: hidden;
    background: url(./img/background3.png)no-repeat center center;
    width: 100%;
    background-size: cover;
    padding: 50px 0 50px 0;
    margin: 100px 0 100px 0;
}

.host img {
    position: relative;
    display: block;
    margin: auto;
}


#host_logo {
    padding: 50px 0 0 0;
}

.place {
    position: relative;
    margin: 0;
    padding: 0 10% 0 10%;
}

.place .place_adress {
    font-size: xx-large;
    font-weight: bold;
}

.place .place_adress2 {
    font-size: large;
    font-weight: bold;
}
/* footer */

#ft {
    background: #222;
}

.ft_wr {
    background: #1f262d;
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
}

.ft_copy {
    list-style: none;
    display: inline-block;
}


/* footer over */
